<p id="notice"><%= notice %></p>

<h1>About</h1>

<p>This "Suggestotron" voting app was created by Marla Glasser as part of the "Intro to Rails" curriculum from railsbridge.org.</p>

<%= link_to 'Back', topics_path %>
